[submodule "src/moveit_studio_example_behaviors"]
	path = src/moveit_studio_example_behaviors
	url = git@github.com:PickNikRobotics/moveit_studio_example_behaviors.git
	branch = main
[submodule "src/picknik_ur_base_config"]
	path = src/picknik_ur_base_config
	url = git@github.com:PickNikRobotics/picknik_ur_base_config.git
	branch = main
[submodule "src/picknik_ur_site_config"]
	path = src/picknik_ur_site_config
	url = git@github.com:PickNikRobotics/picknik_ur_site_config.git
	branch = main
