<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="environment" params="parent">
    <!-- parameters -->
    <xacro:arg name="gazebo_renderer" default="ogre"/>
    <xacro:property name="gazebo_renderer" default="$(arg gazebo_renderer)"/>

    <!-- Import environment macros -->
    <xacro:include filename="$(find picknik_accessories)/descriptions/geometry/collision_and_visual/cube_collision_and_visual.urdf.xacro" />
    <xacro:include filename="$(find picknik_accessories)/descriptions/geometry/visual/cube_visual.urdf.xacro" />
    <xacro:include filename="$(find picknik_accessories)/descriptions/sensors/realsense_d435.urdf.xacro" />

    <!-- Environment -->
    <link name="environment">
      <!-- Table -->
      <xacro:cube_collision_and_visual length="1.5" width="1.0" height="0.25">
        <origin rpy="0 0 0" xyz="0 0 ${-0.25/2}" />
        <color rgba="0 0 1 0" />
      </xacro:cube_collision_and_visual>
    </link>

    <joint name="base_to_environment" type="fixed">
      <parent link="base" />
      <child link="environment" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>

    <!-- External camera -->
    <link name="external_camera_link" />
    <joint name="external_camera_joint" type="fixed">
      <parent link="${parent}" />
      <child link="external_camera_link" />
      <origin xyz="1.1 -1.1 1.3" rpy="0.0 0.4 2.4" />
    </joint>

    <xacro:realsense_d435 parent="external_camera_link" name="scene_camera" visible="false" simulate_depth="true">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:realsense_d435>

    <!-- Additional Camera -->
    <xacro:if value="$(arg use_extra_camera)">
      <link name="extra_scene_camera_link" />
      <joint name="extra_scene_camera_joint" type="fixed">
        <parent link="${parent}" />
        <child link="extra_scene_camera_link" />
        <origin xyz="-0.3 0.3 0.5" rpy="0.0 0.0 -3.14" />
      </joint>
      <xacro:realsense_d435 parent="extra_scene_camera_link" name="extra_camera" visible="false" simulate_depth="false">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:realsense_d435>
    </xacro:if>

  </xacro:macro>
</robot>
