<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- parameters -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="external_camera" default="false"/>
  <xacro:arg name="has_tool_changer" default="true"/>
  <xacro:arg name="use_pinch_links" default="true"/>
  <xacro:arg name="name" default=""/>
  <xacro:arg name="joint_limits_parameters_file" default=""/>
  <xacro:arg name="kinematics_parameters_file" default=""/>
  <xacro:arg name="physical_parameters_file" default=""/>
  <xacro:arg name="visual_parameters_file" default=""/>
  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="tool_voltage" default="0"/>
  <xacro:arg name="tool_device_name" default="/dev/ttyUSB0"/>
  <xacro:arg name="initial_positions_file" default="$(find picknik_ur_base_config)/config/initial_positions.yaml"/>
  <xacro:arg name="environment_xacro" default="$(find picknik_ur_gazebo_config)/description/environment.xacro"/>
  <xacro:arg name="simulation" default="gazebo"/>
  <xacro:arg name="gazebo_renderer" default="ogre"/>
  <xacro:arg name="use_extra_camera" default="false"/>

  <!-- Import UR and environment macros -->
  <xacro:include filename="$(find picknik_ur_base_config)/description/picknik_ur_macro.xacro"/>
  <xacro:include filename="$(find picknik_ur_base_config)/description/picknik_ur_attachments_macro.xacro"/>
  <xacro:include filename="$(arg environment_xacro)"/>

  <!-- Robot: contains robot description from the world frame to the tool frame -->
  <xacro:picknik_ur parent="world"  child="tool0" initial_positions_file="$(arg initial_positions_file)" />

  <!-- Gripper and UR adapter and realsense camera -->
  <xacro:picknik_ur_attachments parent="tool0" child="grasp_link" has_tool_changer="$(arg has_tool_changer)"/>

  <!-- Environment: contains scene geometry and external sensors, e.g. cameras -->
  <xacro:environment parent="world"/>

  <!-- Gazebo Force/Torque Sensor -->
  <link name="robot/wrist_3_joint/force_torque_sensor" />
  <joint name="wrist_to_fts" type="fixed">
    <parent link="wrist_3_link" />
    <child link="robot/wrist_3_joint/force_torque_sensor" />
    <origin rpy="0 0 0" xyz="0 0 0" />
  </joint>
  <gazebo reference="wrist_3_joint">
    <sensor name="tcp_fts_sensor" type="force_torque">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>0</visualize>
      <topic>tcp_fts_sensor/ft_data</topic>
      <pose>0 0 0 0 0 0</pose>
      <force_torque>
        <frame>child</frame>
        <measure_direction>parent_to_child</measure_direction>
        <force>
          <x>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0</stddev>
            </noise>
          </z>
        </force>
        <torque>
          <x>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0</stddev>
            </noise>
          </z>
        </torque>
      </force_torque>
    </sensor>
  </gazebo>

  <!-- Gazebo Plugins -->
  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find picknik_ur_gazebo_config)/config/control/picknik_ur5e.ros2_control.yaml</parameters>
      <ros>
        <remapping>/servo_controller/commands:=/robot_controllers/commands</remapping>
        <remapping>/servo_controller/joint_trajectory:=/robot_controllers/joint_trajectory</remapping>
      </ros>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="libignition-gazebo-sensors-system.so" name="ignition::gazebo::systems::Sensors">
      <render_engine>${gazebo_renderer}</render_engine>
    </plugin>
  </gazebo>

</robot>
