<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
    <!-- parameters -->
    <xacro:arg name="use_fake_hardware" default="false"/>
    <xacro:arg name="external_camera" default="false"/>
    <xacro:arg name="has_tool_changer" default="true"/>
    <xacro:arg name="use_pinch_links" default="true"/>
    <xacro:arg name="name" default=""/>
    <xacro:arg name="joint_limits_parameters_file" default=""/>
    <xacro:arg name="kinematics_parameters_file" default=""/>
    <xacro:arg name="physical_parameters_file" default=""/>
    <xacro:arg name="visual_parameters_file" default=""/>
    <xacro:arg name="headless_mode" default="false"/>
    <xacro:arg name="robot_ip" default="0.0.0.0"/>
    <xacro:arg name="initial_positions_file" default="$(find picknik_ur_mock_hw_config)/config/initial_positions.yaml"/>
    <xacro:arg name="environment_xacro" default="$(find picknik_ur_mock_hw_config)/description/environment.xacro"/>

    <xacro:include filename="$(find picknik_accessories)/macros/manipulators/picknik_ur_macro.xacro"/>
    <xacro:picknik_ur_macro environment_xacro="$(arg environment_xacro)" initial_positions_file="$(arg initial_positions_file)" />

</robot>
