<?xml version="1.0"?>
<robot name="eoat_nail_grip" xmlns:xacro="http://wiki.ros.org/xacro">
    <link name="first_gripper_link">
        <inertial>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <mass
                    value="1"/>
            <inertia
                    ixx="0"
                    ixy="0"
                    ixz="0"
                    iyy="0"
                    iyz="0"
                    izz="0"/>
        </inertial>
        <visual>
            <origin
                    xyz="0 0 0"
                    rpy="0 0 0"/>
            <geometry>
                <box size="0.1 1 0.1"/>
            </geometry>
            <material
                    name="">
                <color
                        rgba="0.89804 0.91765 0.92941 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 1 0.1"/>
            </geometry>
            <material name="red"/>
        </collision>
    </link>
</robot>
